<div class="container bg-nv-custom rounded">

  <div class="row" *ngIf="!visibility.selectionVisibility">
    <div class="p-1">
      <button type="button" class="btn btn-primary fs-5 shadow-sm btn-hover border-0" (click)="backToSelection()">
        <i class="bi bi-arrow-left"></i>
      </button>
    </div>
  </div>


  <div class="row justify-content-center align-items-center fs-5 text-white p-4" *ngIf="visibility.selectionVisibility">

    <div class="col-6 fs-4 d-flex justify-content-end ">
      <button
        style="width: 275px;height: 72px;"
        (click)="changeLinkInputVisibility('spotify','playlist')"
        type="button"
        [ngStyle]="{'transform': 'scale(' +isButtonSelected('spotify','playlist')+ ')' }"
        style="background-color: var(--sp-color);"
        class="btn btn-success fs-5 mt-3 btn-hover border-0 p-3 d-flex align-items-center"
      >
        <i class="bi bi-spotify fs-3 me-1"></i> Scarica una playlist
      </button>
    </div>

    <div class="col-6 fs-4 d-flex justify-content-start">
      <button
        style="width: 275px;height: 72px;"
        (click)="changeLinkInputVisibility('spotify','track')"
        type="button"
        [ngStyle]="{'transform': 'scale(' +isButtonSelected('spotify','track')+ ')' }"
        style="background-color: var(--sp-color);"
        class="btn btn-success fs-5 mt-3 btn-hover border-0 p-3 d-flex align-items-center"
      >
        <i class="bi bi-spotify fs-3 me-1"></i> Scarica una canzone
      </button>
    </div>

    <div class="col-6 fs-4 d-flex justify-content-end">
      <button
          (click)="changeLinkInputVisibility('youtube','playlist')"
          type="button"
          [ngStyle]="{'transform': 'scale(' +isButtonSelected('youtube','playlist')+ ')' }"
          style="background-color: var(--yt-color);"
          class="btn btn-danger fs-5 mt-3 btn-hover border-0 p-3 d-flex align-items-center"
        >
          <i class="bi bi-youtube fs-3 me-1"></i> Scarica una playlist
      </button>
    </div>

    <div class="col-6 fs-4 d-flex justify-content-start">
      <button
        style="width: 275px;height: 72px;"
        (click)="changeLinkInputVisibility('youtube','track')"
        type="button"
        [ngStyle]="{'transform': 'scale(' +isButtonSelected('youtube','track')+ ')' }"
        style='background-color: var(--yt-color);'
        class="btn btn-danger fs-5 mt-3 btn-hover border-0 p-3 d-flex align-items-center"
      >
        <i class="bi bi-youtube fs-3 me-1"></i> Scarica una canzone
      </button>
    </div>


    <!-- link input -->
    <div class="col-6 fs-4 d-flex flex-column justify-content-center">
      <div class="input-group p-0 mt-3" *ngIf="isLinkInputVisibile">
        <input type="text" class="form-control bg-dark text-white" placeholder="Inserisci qui il link" aria-label="input" [(ngModel)]="link" aria-describedby="button-addon2">
        <button
            [style.background-color]="sendButtonColor"
            class="btn btn-danger fs-5 border-0"
            type="button"
            id="button-addon2"
            (click)="sendInfo()"
            [disabled]="sendButtonDisabled"
          >
          <i class="bi bi-arrow-right-circle"></i>
        </button>
      </div>
      <div class="mt-2 text-muted fs-6 text-center" *ngIf="getTypeOfLink() != null && getTypeOfLink() != this.params.type">
        Questo è il link di una
        <span class="text-warning text-no">{{getTypeOfLink() == "track"? "traccia":getTypeOfLink()}}</span> e stai cercando di scaricare una <span class="text-warning">{{this.params.type == "track"? "traccia":this.params.type}}</span>
      </div>
    </div>

  </div>

  <!-- ? Album/Playlist -->
  <div class="row flex-column justify-content-center align-items-center fs-5 text-white" *ngIf="visibility.playlistVisibiliy">
    <div class="container">

      <div class="row justify-content-center mb-2">
        <img [src]="linkInfo.copertina" style="border-radius:30px; width: 40%;height:40%">
      </div>
      <div class="row justify-content-center display-6 fs-4">
        {{linkInfo.nome}}
      </div>
      <div class="row justify-content-center mb-2 text-muted">
        {{linkInfo.artista}}
      </div>

      <div class="row justify-content-center text-center mb-2">
        <button type="button" class="btn btn-warning w-50 p-2 rounded-4 fs-5 btn-hover" (click)="downloadAllTracks()"><i class="bi bi-download"></i> Scarica tutto</button>
      </div>
      <div class="row justify-content-center text-center mb-5">
        <button type="button" disabled class="btn btn-warning w-50 p-2 rounded-4 fs-5 btn-hover" (click)="downloadAllTracksZip()"><i class="bi bi-download"></i> Scarica tutto (.zip)</button>
      </div>

      <div class="row justify-content-center align-items-center text-center">
        <table class="table table-bordered table-striped w-75 fs-6">

          <thead class="table align-middle">
            <tr>
              <th scope="col">Disco - Numero traccia</th>
              <th scope="col">Titolo</th>
              <th scope="col">Azioni</th>
            </tr>
          </thead>

          <tbody class="table align-middle">
            <tr *ngFor="let item of linkInfo.tracks">
              <td>{{item.disco}} - {{item.numeroTraccia}}</td>
              <td>{{item.titolo}}</td>
              <td class="d-flex justify-content-center">
                <button
                  type="button"
                  style="background-color: #ffc107;"
                  class="btn btn-warning text-dark btn-hover d-flex align-items-center justify-content-center"
                  (click)="downloadOneTrack(item)"
                  [disabled]="!item.youtubeLink"
                  ><i class="bi bi-download me-1"></i> Scarica
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>

  <!-- Track -->
  <div class="row flex-column justify-content-center align-items-center fs-5 text-white p-4"  *ngIf="visibility.singleTrackVisibility">
    <div class="container">

      <div class="row justify-content-center mb-2">
        <img [src]="linkInfo.copertina" style="border-radius:30px; width: 40%;height:40%">
      </div>
      <div class="row justify-content-center display-6 fs-4">
        {{linkInfo.titolo}}
      </div>
      <div class="row justify-content-center mb-2 text-muted">
        {{linkInfo.artista}}
      </div>

      <div class="row justify-content-center text-center mb-2">
        <button type="button" class="btn btn-warning w-50 p-2 rounded-4 fs-5 btn-hover" (click)="downloadOneTrack(linkInfo)"><i class="bi bi-download"></i> Scarica </button>
      </div>

    </div>
  </div>


</div>
