.btn-hover {
  transition: transform 0.2s, box-shadow 0.2s;
}
.btn-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.logo{
  transition: transform 0.2s, box-shadow 0.2s;
}
.logo:hover{
  transform: scale(1.05);
}
